div {
    height:100px;
    width:100px;
    display: inline-block;
}

/* 
		# indica um id especifico
		. indica uma classe
		em branco indica elemento tag html
 */
#red { 
    background-color:#FF0000;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}

#ready {
    background-color:#008800;
    color:#FFFFFF;
}

#notready {
    background-color:#FF0000;
    color:#FFFFFF;
}